# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
  title: SSOReadyService API
  version: 0.0.1
servers:
  - url: https://api.ssoready.com
paths:
  /v1/saml/redeem:
    post:
      tags:
        - SSOReadyService
        - saml
      description: Exchange a SAML access code for details about a SAML login.
      operationId: RedeemSAMLAccessCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemSAMLAccessCodeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedeemSAMLAccessCodeResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/saml/redirect:
    post:
      tags:
        - SSOReadyService
        - saml
      description: Get a URL to initiate a SAML login.
      operationId: GetSAMLRedirectURL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSAMLRedirectURLRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSAMLRedirectURLResponse'
        default:
          description: Default error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
components:
  schemas:
    GetSAMLRedirectURLRequest:
      type: object
      properties:
        samlConnectionId:
          type: string
          description: The SAML connection to log in with.
        organizationId:
          type: string
          description: |
            The organization to log in with, identified by ID.
            This will use the organization's primary SAML connection.
        organizationExternalId:
          type: string
          description: |
            The organization to log in with, identified by external ID.
            This will use the organization's primary SAML connection.
        state:
          type: string
          description: |
            An arbitrary string that will be returned back in the SAML
            login's corresponding RedeemSAMLAccessCode call.
      description: |
        Parameters for getting a SAML redirect URL.

        One of saml_connection_id, organization_id, or organization_external_id must be provided.
    GetSAMLRedirectURLResponse:
      type: object
      properties:
        redirectUrl:
          type: string
          description: Redirect your user to this URL to initiate the SAML login.
    GoogleProtobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: The type of the serialized message.
      additionalProperties: true
      description: |
        Contains an arbitrary serialized message along with a @type that describes the
        type of the serialized message.
    RedeemSAMLAccessCodeRequest:
      type: object
      properties:
        samlAccessCode:
          type: string
    RedeemSAMLAccessCodeResponse:
      type: object
      properties:
        email:
          type: string
          description: The user's email.
        state:
          type: string
          description: Arbitrary data included in the corresponding GetSAMLRedirectURL request.
        attributes:
          type: object
          additionalProperties:
            type: string
          description: Key-value attributes included by the identity provider.
        organizationId:
          type: string
          description: The organization this user belongs to.
        organizationExternalId:
          type: string
          description: The external ID of the organization this user belongs to.
        samlFlowId:
          type: string
          description: The SAML flow tracking this SAML login.
      description: Details about a user that just completed a SAML login.
    Status:
      type: object
      properties:
        code:
          type: integer
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
          format: int32
        message:
          type: string
          description: |
            A developer-facing error message, which should be in English.

            Any user-facing error message should be localized and sent in the [google.rpc.Status.details][google.rpc.Status.details]
            field, or localized by the client.
        details:
          type: array
          items:
            $ref: '#/components/schemas/GoogleProtobufAny'
          description: A list of messages that carry the error details.  There is a common set of message types for APIs to use.
      description: |
        The `Status` type defines a logical error model that is suitable for different programming environments,
        including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message
        contains three pieces of data: error code, error message, and error details.

        You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).
tags:
  - name: SSOReadyService
